.pieces{
    height:60px;
    width:60px;
}

.clicked {
    background-color: rgba(255, 242, 60, 0.438); /* Change to the desired background color */
}

.div{
    width:60px;
    height:60px;
}
